<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://t.ctcdn.com.br/wQkKKDBe1HpwEmbJ7ADMfLznS_Q=/990x557/smart/i350335.jpeg"
      alt=""
    />
  </div>
  <div class="big-card__title">
    <h1><a href="#">Testanto BLOG</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#"
        >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum,
        minima doloremque. Atque tempore doloremque quasi vero consequuntur!
        Quibusdam magni at quisquam id, commodi quo dignissimos consectetur,
        voluptates consequuntur blanditiis necessitatibus?</a
      >
    </p>
  </div>
</div>
