<div class="container__small-card">
  <div class="small-card__photo">
    <img
      src="http://s2.glbimg.com/lip1rXjb7IfKWKhzwjKCCsKJcrA=/e.glbimg.com/og/ed/f/original/2017/08/17/game-of-thrones.jpg"
      alt=""
    />
  </div>
  <div class="small-card__title">
    <p>
      <a href="#"
        >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum,
        consequuntur pariatur. Debitis eaque minima, autem eius excepturi
        eligendi inventore ipsa quod laborum. Consequatur labore blanditiis
        exercitationem dolor. Tempore, quos deleniti.</a
      >
    </p>
  </div>
</div>
